body {
    font-family: Roboto, sans-serif;
    background: #935d8c;
    background: -webkit-linear-gradient(45deg, #842d36 15%, #5f4d93 85%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #842d36 15%, #5f4d93 85%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #842d36 15%, #5f4d93 85%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #842d36 15%, #5f4d93 85%); /* Standard syntax */
    background-image: linear-gradient(45deg, #842d36 15%, #5f4d93 85%);
}

.cabecera {
    padding: 5em 3em 2em 3em;
    color: #eee;
    text-align: center;
}



.image {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.image img {
    border-radius: 100%;
    width: 25em;
}



footer {
    font-size: 0.90em;
    color: #842d36;
    text-align: center;

